# LOKAL DATABASE
# DATABASE_URL=postgres://postgres:postgres@localhost:5432/silowbp
# BETTER_AUTH_SECRET=aB1cDe2fGh3hI4jKl5mNo6pQrStUvWxYz
# #BETTER_AUTH_URL=http://localhost:3000
# BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# DATABSE CLOUD NEON
DATABASE_URL=postgresql://neondb_owner:npg_VoxDgu31hYEb@ep-snowy-paper-aolyvgnl-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
BETTER_AUTH_SECRET=aB1cDe2fGh3hI4jKl5mNo6pQrStUvWxYz
BETTER_AUTH_URL=https://silowbp.vercel.app
BETTER_AUTH_TRUSTED_ORIGINS=https://silowbp.vercel.app
